
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}


:root {
  --primary: #6c63ff;
  --text: #222;
  --background: #8c61b2;
}


body{
    background-color: #71697a;

    
}

header {
  background-color:#f2b7c6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align:center ;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

nav a:hover {
  color: var(--primary);
  text-decoration: underline;

}





main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  color:azure;
}


img {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}


button {
    background-color: #8c61b2;
}
#myheading{
    color:black;
    text-align:right;
    text-decoration:underline;
    color:#71697a;
}

